
.vs/NovaCash.Sportsbook/DesignTimeBuild/.dtbcache

.vs/NovaCash.Sportsbook/v16/.suo

.vs/NovaCash.Sportsbook/v16/Server/sqlite3/db.lock

.vs/NovaCash.Sportsbook/v16/Server/sqlite3/

NovaCash.Sportsbook.Clients/bin/Debug/netcoreapp3.0/

NovaCash.Sportsbook.Clients/obj/Debug/netcoreapp3.0/

*.user

NovaCash.Sportsbook.Clients/obj/
/*/bin/*

/*/obj/*

